# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[尝尝]og/
[尝尝]ogs/

build/
out/

# Visual Studio cache and settings
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Test Results
TestResults/